{% extends "layout.html" %}

{% block content %}
<p>Got these rows from the database:</p>

<ul>
{% for d in data %}
  <li> {{ d }} </li>
{% else %}
  <li>Nameless!</li>
{% endfor %}
</ul>

{% endblock %}
