{% extends "layout.html" %}

{% block content %}
<a href="/dbdump/user">User Table</a><br>
<a href="/dbdump/message">Message Table</a><br>
<p>Got these rows from the database:</p>

<ul>
{% for d in data %}
  <li> {{ d }} </li>
{% else %}
  <li>Nameless!</li>
{% endfor %}
</ul>

{% endblock %}
