<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}

  
  <div id="message"></div>
  {% block content %}{% endblock %}
  
  <script>
  function getUrlVars() {
	    var vars = {};
	    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
	        vars[key] = value;
	    });
	    return vars;
	}

  
  function getUrlParam(parameter, defaultvalue){
	    var urlparameter = defaultvalue;
	    if(window.location.href.indexOf(parameter) > -1){
	        urlparameter = getUrlVars()[parameter];
	        }
	    return urlparameter;
	}

  
  var message = getUrlParam('message','');

  if(message != ''){
	  document.getElementById("message").innerHTML = message.replace("%20" , " ");
	  document.getElementById("MyElement").classList.add('alert');
	  document.getElementById("MyElement").classList.add('alert-info');
  }
  
  </script>
</body>
</html>
