{% extends "layout.html" %}

{% block content %}
	Username: <input type="text" name="username"><br>
	Password: <input type="password" name="password"><br>
	Confirm Password:<input type="password" name="password"><br>
	Security Question: "What was your first dog's name?" <br>
	Answer: <input type="text" name="securityAnswer"> <br>
	<a href="../">Cancel</a><a href="login.html">Submit</a>
{% endblock %}
